<div class="footer-ghost"></div>
<mat-toolbar class="footer standard-gradient mt-3">
    <span>
        {{ "powered_with" | translate}}
        <i class="material-icons red v-middle">favorite</i> 
        {{ "by" | translate}} 
        <a href="https://www.linkedin.com/in/braian-freitas-de-lima-8968a2115/" target="_blank" 
            class="v-middle" title="{{ 'braian_link' | translate }}">
            <img src="../../../assets/braian-freitas.png" class="logo-footer mb-1">
        </a> 
    </span>
</mat-toolbar>