<div class="container">
    <div class="border-custom mt-3 px-3">
        <div class="row">
            <div class="col-12 col-md-6 border-y">
                <div class="form-group mb-3 text-center">
                    <p class="mt-3 font-size-18">{{ "text_call_get_postal_code" | translate }}</p>
                    <button type="button" class="btn btn-success is-filled"
                        (click)="toggleVisibility('get-postal-code')">{{ "get_address" | translate }}</button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group mb-3 text-center">
                    <p class="mt-3 font-size-18">{{ "text_call_search_postal_code" | translate }}</p>
                    <button type="button" class="btn btn-warning is-filled"
                    (click)="toggleVisibility('search-postal-code')">{{ "button_search_postal_code" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="border-custom px-3 mt-3">
        <div class="none-option-chosen row fade-in visible" *ngIf="!showBorderCustomResult">
            <h1 class="mt-3 text-center mb-3">
                <i class="material-icons v-middle pb-1 font-size-35">
                    manage_search
                </i>
                {{ "none_option_chosen" | translate }}
            </h1>
        </div>
        
        <div class="get-postal-code row fade-in" *ngIf="isBlockGetPostalCode">
            <div class="row mb-3 mt-3 mx-0 p-0">
                <div class="col-12">
                    <div class="input-group">
                        <p class="mb-0">
                            <b>CEP</b>
                        </p>
                        <div class="input-group input-group-sm">
                            <input type="text" placeholder="99999-999" class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info border-0">
                                    <i class="material-icons v-middle">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-cep-output></app-cep-output>
        </div>

        <div class="search-postal-code row fade-in"  *ngIf="isBlockSearchPostalCode">
            <div class="row mb-3 mt-3 mx-0 p-0">
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <p class="mb-0">
                            <b>{{ "state" | translate }}</b>
                        </p>
                        <div class="input-group">
                            <input type="text" placeholder="{{ 'state_placeholder' | translate }}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <p class="mb-0">
                            <b>{{ "county" | translate }}</b>
                        </p>
                        <div class="input-group">
                            <input type="text" placeholder="{{ 'county' | translate }}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <p class="mb-0">
                            <b>{{ "public_place" | translate }}</b>
                        </p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'public_place' | translate }}" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-info border-0">
                                    <i class="material-icons v-middle">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-cep-output></app-cep-output>
        </div>

        <div class="fade-in visible" *ngIf="showBorderCustomResult">
            <div class="row mb-3">
                <div class="col-12">
                    <button type="button" class="btn btn-success m-auto text-center d-block">
                        <i class="material-icons v-middle">content_copy</i> Copy to clipboard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>