.border-custom {
    border: 1px solid darkgrey;
    border-radius: 20px;
}

.border-y {
    border-right: 1px solid darkgrey;
}

.font-size-18 {
    font-size: 18px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}

.font-size-35 {
    font-size: 35px !important;
}