<div class="mt-3">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>CEP</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="99999-999" [value]="address?.data?.cepCode" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "public_place" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'public_place' | translate }}" [value]="address?.data?.publicPlace" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "complement" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'complement' | translate }}" [value]="address?.data?.complement" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "district" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'district' | translate }}" [value]="address?.data?.district" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "county" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'county' | translate }}" [value]="address?.data?.county" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "state" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'state' | translate }}" [value]="address?.data?.state" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "ibge" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" 
                        placeholder="{{ 'ibge_placeholder' | translate }}" [value]="address?.data?.ibge" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "gia" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{{ 'gia_placeholder' | translate }}" 
                        [value]="address?.data?.gia" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "ddd" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{{ 'ddd_placeholder' | translate }}" 
                        [value]="address?.data?.ddd" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <p class="mb-0">
                    <b>{{ "siafi" | translate }}</b>
                </p>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{{ 'siafi_placeholder' | translate }}"
                        [value]="address?.data?.siafi" disabled />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark border-0">
                            <i class="material-icons v-middle">content_copy</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>